div.user-form {
    margin: 0 0 40px 40px;
}

div.cart {
	padding: 40px;
}

div.school-options {
	margin: 60px 0;
}

div.school-options label {
	margin-left: 30px;
	padding-top: 7px;
}

div.school-options > div {
	padding: 20px 0;
}

div.school-options input {
	margin-top: -4px;
}

p.cartItem {
	font-weight: bold;
}

p.subTotal {
	font-weight: bold;
	text-align: right
}