<!DOCTYPE html>
<html>
<head>
  <title>NYC Ordering form</title>
  <script src="https://use.typekit.net/fvr1cxh.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" media="all" href="css/auth.css" />
  <link rel="stylesheet" media="all" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container" id="app">

  <div class="main">
    <div class="row-fluid">
      <div class="span4 offset4">
        <img src="https://auth.ioeducation.com/assets/logo_white-4cb67d9766aabe97d3cf0252add9e18e.png" alt="Logo white" />  
        <br/>  
      </div>
    </div>
  </div>

  <div class="client-table-container" style="padding: 0">
    <cart></cart>
    <user-form></user-form> 
  </div>

  

  <div class="row-fluid client-table-container">
    <div class="span6">
      <school-options></school-options>
      <solutions-list></solutions-list>
      <solution-addon-list></solution-addon-list>
      <services-list></services-list>
    </div>

    <div class="span6" style="padding: 20px">
      <cart-button></cart-button>
      <package-list></package-list>
      <sub-package-list></sub-package-list>
    </div>
  </div>

  <div class="modals">

    <!-- add more modal descriptions here -->

    <div id="classroom" class="modal hide fade" role="dialog" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Some product name</h3>
      </div>
      <div class="modal-body">
        <p>Wow, such a great product here! Must buy</p>
      </div>
      <div class="modal-footer">
        <button class="btn form-button" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

<template id="school-options-template">
  <div class="school-options" style="padding: 20px;">
      <h3>Pricing Model</h3>
      <label>
        <input type="radio" name="schoolType" value="High School" v-model="data.schoolType">
        <span>High School</span>
      </label>
      <label>
        <input type="radio" name="schoolType" value="Elementary or Junior High School" v-model="data.schoolType">
        <span>Elementary or Junior High School (K-8)</span> 
      </label>

      <label >
          <div style="padding-bottom: 10px;">
            <span style="line-height: 37px">
              Number of Students
            </span>
            <span>
              <input 
                type="number" 
                min="10" 
                max="15000"
                style="width: 30%; min-width: 100px;"
                v-model.number="data.studentCount"
                v-on:keyup="setStudentPriceGroup()"
                title="Please enter the total number of students in your school" 
              />
            </span>
          </div> 
          
      </label>

      <p style="margin-left: 30px">
        {{ data.schoolType }} / {{ data.studentPriceGroup }}
      </p>
  </div>
</template>

<template id="packages-template">
  <div class="client-table-container">
    <h3>Packages</h3>
    <p>The most popular packages at our best prices</p>
    <table class="table packages table-condensed client-table">
      <tr v-for="item in filteredList">
        <td>
            <label>
              <input type="radio" name="package"  
                v-on:click="selectPackage(item)"
                 /> 
              <span>{{ item.name }}</span>
            </label>
        </td>
        <td>{{ priceForItem(item.prices) }}</td>
      </tr>
    </table>
  </div>
</template>

<template id="sub-packages-template">
    <div style="padding: 20px" v-if="canSubPackage()">
      <h3>Assessment addon bundles</h3>
      <p>The most popular packages at our best prices</p>
      <table class="table subpackages table-condensed client-table">
        <tr v-for="item in filteredList">
          <td>
              <label>
                <input type="radio" name="subpackage"  
                  v-on:click="selectPackage(item)"
                   /> 
                <span>{{ item.name }}</span>
              </label>
          </td>
          <td v-html="priceForSubPackage(item)"></td>
        </tr>
      </table>
    </div>
</template>


<template id="solution-addon-template">
    <div style="padding: 20px" v-if="getAddons.length > 0">
      <h3>Assessment addons</h3>
      <table class="table h3 table-condensed client-table">
        <tr v-for="item in getAddons">
          <td>
              <label>
                <input  type="checkbox" 
                        v-if="!item.radio"
                        :disabled="item.disabled"
                        v-model="solutions" 
                        v-bind:value="item.id" 
                        :checked="item.selected" 
                        v-on:click="showState(item)"
                /> 

                <input  type="radio" 
                        name="option" 
                        v-if="item.radio"
                        v-bind:value="item.id" 
                        v-on:click="selectOption(item)"
                /> 
                <span>
                  <a v-bind:href="item.modal" class="modalTrigger">
                    {{ item.name }}
                  </a>
                  <br v-if="item.subtitle" />
                  <em v-if="item.subtitle"> 
                    {{item.subtitle}}
                  </em>
                </span>
              </label>

          </td>
          <td v-html="priceForItem(item)"></td>
        </tr>
      </table>
    </div>
</template>

<template id="cart-template">
  <div class="cart" v-if="data.checkout && data.solutions.length > 0">
    <h3>Cart</h3>
    <p>
      {{data.schoolType}} {{data.studentPriceGroup}}
    </p>
    <table class="table cart table-condensed client-table">
      <tr v-for="item in listCart">
        <td v-html="item.name"></td>
        <td>{{ item.price }}</td>
      </tr>
    </table>

    <p class="subTotal">Total Price: {{ data.cost }}</p>

  </div>
</template>

<template id="user-form-template">
  <div v-if="data.checkout && data.solutions.length > 0" class="user-form">
    <h3>Order Details</h3>
    <div class="row-fluid">
      <div class="span6">
        <div>
            DBN<br />
            <input type="text" v-model="data.userInfo.DBN" placeholder="e.g. 12X345">
        </div>
        <div>
          School Name<br />
          <input type="text" v-model="data.userInfo.school">
        </div>
        <div>
            First Name<br />
            <input type="text" v-model="data.userInfo.firstName">
        </div>
        <div>
            Last Name<br />
            <input type="text" v-model="data.userInfo.lastName">
        </div>
      </div>
      <div class="span6">
        <div>
            Email<br />
            <input type="text" v-model="data.userInfo.email">
        </div>
        <div>
            Telephone<br />
            <input type="text" v-model="data.userInfo.telephone">
        </div>
        <div>
            Principal's Name<br />
            <input type="text" v-model="data.userInfo.prinicpal">
        </div>
      </div>
    </div>  
    <button class="form-button" style="margin-top: 20px" v-on:click="submitOrder()">
      Submit Order
    </button>
  </div>
</template>

<template id="cart-button-template">
  <div style="text-align: right;">
    <div v-if="listCart.length > 0">
      <button class="form-button" v-on:click="checkout()">
         Check Out
         <span class="badge badge-important" style="margin-left: 3px">
            {{data.solutions.length}}
          </span> 
      </button>
    </div>
    <div v-if="listCart.length > 0" style="clear: both; padding-top: 10px">
       {{ data.cost }} total
    </div>
    
  </div>
</template>

<template id="solutions-template">
  <div style="padding: 20px">
    <h3>Solutions</h3>
    <table class="table solutions table-condensed client-table">
      <tr v-for="item in getSolutions">
        <td>
            <label>
              <input  type="checkbox" 
                      v-if="!item.radio"
                      :disabled="item.disabled"
                      v-model="solutions" 
                      v-bind:value="item.id" 
                      :checked="item.selected" 
                      v-on:click="showState(item)"
              /> 

              <input  type="radio" 
                      name="option" 
                      v-if="item.radio"
                      v-bind:value="item.id" 
                      v-on:click="selectOption(item)"
              /> 
              <span>
                <a v-bind:href="item.modal" class="modalTrigger">
                  {{ item.name }}
                </a>
                <br v-if="item.subtitle" />
                <em v-if="item.subtitle"> 
                  {{item.subtitle}}
                </em>
              </span>
            </label>

        </td>
        <td v-html="priceForItem(item)"></td>
      </tr>
    </table>
  </div>
</template>

<template id="services-template">
  <div style="padding: 20px">
    <h3>Services</h3>
    <table class="table services table-condensed client-table">
      <tr v-for="item in getServices">
        <td>
            <label>

              <input  type="checkbox" 
                      :disabled="item.disabled"
                      v-model="solutions" 
                      v-bind:value="item.id" 
                      :checked="checkStatus(item)" 
              /> 

              <span>
                {{ item.name }}
              </span>
            </label>
        </td>
        <td>{{ priceForItem(item) }}</td>
      </tr>
    </table>
  </div>
</template>


  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>

  <script type="text/javascript" src="js/products.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</body>
</html>

