<!DOCTYPE html>
<html>
<head>
  <title>NYC Ordering form</title>
  <script src="https://use.typekit.net/fvr1cxh.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" media="all" href="css/auth.css" />
  <link rel="stylesheet" media="all" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container" id="app">

  <div id="messages"></div>

  <div class="main">
    <div class="row-fluid">
      <div class="span4 offset4">
        <img src="https://auth.ioeducation.com/assets/logo_white-4cb67d9766aabe97d3cf0252add9e18e.png" alt="Logo white" />
        <br/>
      </div>
    </div>
    <p>&nbsp;</p>


    <school-options></school-options>

    <p>&nbsp;</p>

    <div class="row-fluid client-table-container">
      <div class="span8" style="padding: 20px">

        <h3>Packages</h3>
        <p>The most popular packages at our best prices</p>
        <package-list></package-list>

        <p>&nbsp;</p>
        <h3>Solutions</h2>
        <solutions-list></solutions-list>

        <p>&nbsp;</p>
        <h3>Services</h3>
        <services-list></services-list>

      </div>
      <div class="span4">
        <h3>Cart</h3>
        <div id="cart" style="clear: both">
          <p class="cartItem">Package Addon: Add PD to any Package</p>
          <p class="subTotal">$1,500.00</p>
          <p class="cartItem">Package Addon: Add 3 PDs to any Package</p>
          <p class="subTotal">$3,000.00</p>
          <p class="cartItem">Total Price:</p>
          <p class="subTotal" style="font-weight: bold !important">$4,500.00</p>
        </div>
        <p>&nbsp;</p>
        <div>
          <div>
            <label>
                DBN
                <br />
                <input type="text" value="" placeholder="e.g. 12X345">
            </label>
          </div>
          <div>
            <label>
                School Name
                <br />
                 <input type="text" value="">
            </label>
          </div>
          <div>
            <label>
                First Name
                <br />
                <input type="text" value="">
            </label>
          </div>
          <div>
            <label>
                Last Name
                <br />
                <input type="text" value="">
            </label>
          </div>
          <div>
            <label>
                Email
                <br />
                <input type="text" value="">
            </label>
          </div>
          <div>
            <label>
                Telephone
                <br />
                <input type="text" value="">
            </label>
          </div>
          <div>
            <label>
                Principal's Name
                <br />
                <input type="text" value="">
            </label>
          </div>

          <div>
            <input name="commit" value="Submit Order Now" class="form-button" type="submit">
          </div>

        </div>

      </div>

    </div>


  </div>

</div>

<template id="school-options-template">
  <div class="row-fluid school-options client-table-container">
    <div class="span8">
      <h4>School Type</h4>
      <label>
        <input type="radio" name="schoolType" value="HS" v-model="data.schoolType">&nbsp;&nbsp;
        High School
      </label>
      <label>
        <input type="radio" name="schoolType" value="K8" v-model="data.schoolType">&nbsp;&nbsp;
        Elementary or Junior High School (K-8)
      </label>
    </div>

    <div class="span4">
      <h4>Amount of Students</h4>
      <label>
        <input type="radio" name="students" v-model="data.totalStudents" value="under650">&nbsp;&nbsp;
        Under 650 Students
      </label>
      <label>
        <input type="radio" name="students" v-model="data.totalStudents" value="from650to1500">&nbsp;&nbsp;
        650 - 1500 Students
      </label>
      <label>
        <input type="radio" name="students" v-model="data.totalStudents" value="over1500">&nbsp;&nbsp;
        Over 1500 Students
      </label>
    </div>
  </div>
</template>

<template id="packages-template">
  <div>
    <table class="table table-condensed client-table">
      <tr v-for="item in filteredList">
        <td>

            <label>
              <input type="radio" name="package"  
                v-on:click="selectPackage(item)"
                 /> 
              {{ item.name }}
            </label>
        </td>
        <td>{{ priceForItem(item.prices) }}</td>
      </tr>
    </table>
  </div>
</template>

<template id="solutions-template">
  <div>
    <table class="table table-condensed client-table">
      <tr v-for="item in filteredList">
        <td>
            <label>
              <input type="checkbox" v-bind:value="item.id" :checked="checkStatus(item)"> 
              {{ item.name }}
            </label>
        </td>
        <td>{{ priceForItem(item) }}</td>
      </tr>
    </table>
  </div>
</template>

<template id="services-template">
  <div>
    <table class="table table-condensed client-table">
      <tr v-for="item in filteredList">
        <td><input type="radio" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.modal }}</td>
      </tr>
    </table>
  </div>
</template>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="js/async.min.2.1.4.js"></script>
  <script type="text/javascript" src="js/moment.js"></script>
  <script type="text/javascript" src="js/script.js?r=0.4"></script>

</body>
</html>

